// threme colors //
$header-footer-bg: #001F3F;
$body-bg: #121212;
$secondary-bg:#004080;
$primary-text-color: #FFD700;
$primary-h-color:rgb(211, 4, 4);
$primary-text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
$secondary-text-color: #FFFFFF;
$third-text-color: #004080;
$hover-links: rgb(211, 4, 4);
$button-bg: rgb(211, 4, 4);
$button-color: black;
$button-hover-bg: #46281d;
$button-hover-color:white;
$border-img:1px solid #000;
$bg-gradient:linear-gradient(135deg, #004080, #FF8000, #FFD700);



    
    

   

    /*accent-color: #FF7F50; /* Highlight color derived from logo */
