@import "colors";

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 20px;
    background: $bg-gradient;
    min-height: 70vh;
    margin-bottom: 10px;
}

.hero-content {
    max-width: 50%;
    text-align: left;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-shadow: $primary-text-shadow;
    color: $primary-h-color;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    line-height: 1.5;
    color: $secondary-text-color;
    text-shadow: $primary-text-shadow;
}

.hero-image img {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

h1 {
    color: $primary-h-color;
    text-shadow: $primary-text-shadow;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 10px;
}

.team-input,
.match-results,
.message {
    background: $bg-gradient;
    animation: gradientAnimation 6s ease infinite;
    color: $secondary-text-color;
    text-shadow: $primary-text-shadow;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
    color: $primary-h-color;
    text-shadow: $primary-text-shadow;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

form label {
    font-weight: bold;
}

form input {
    padding: 8px;
    font-size: 1rem;
    border: 1px solid $third-text-color;
    border-radius: 5px;
}

form button {
    grid-column: span 2;
    padding: 10px;
    background-color: $button-bg;
    color: $button-color;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

form button:hover {
    background-color: $button-hover-bg;
    color: $button-hover-color;
}

.match-results ul {
    list-style-type: none;
    padding: 0;
}

.match-results li {
    margin: 10px 0;
    font-size: 1.2rem;
}

.message {
    text-align: center;
    font-weight: bold;
}

@media (max-width: 425px) {
    /* Hero Section */
    .hero {
        flex-direction: column;
        text-align: center;
        padding: 20px 10px;
        gap: 20px; /* Spaziatura uniforme */
        min-height: auto;
    }

    .hero-content {
        max-width: 100%;
    }

    .hero-content h1 {
        font-size: 2rem;
        margin-bottom: 10px;
    }

    .hero-content p {
        font-size: 1rem;
        margin-bottom: 15px;
    }

    .hero-image img {
        width: 90%;
        max-width: 300px;
        margin: 0 auto;
    }

    /* Modulo di Inserimento Squadre */
    .team-input {
        padding: 20px 10px;
        margin-bottom: 15px;
    }

    .team-input h1 {
        font-size: 1.8rem;
        margin-bottom: 15px;
    }

    .team-input h2 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    form {
        grid-template-columns: 1fr; /* Una sola colonna per piccoli schermi */
    }

    form label {
        font-size: 0.9rem;
        margin-bottom: 5px;
    }

    form input {
        font-size: 0.9rem;
        padding: 8px;
        margin-bottom: 10px;
    }

    form button {
        font-size: 1rem;
        padding: 10px;
    }

    /* Risultati del Torneo */
    .match-results ul {
        padding: 10px;
    }

    .match-results li {
        font-size: 1rem;
        margin: 5px 0;
    }

    /* Messaggio */
    .message {
        padding: 20px 10px;
        font-size: 1rem;
    }
}
